<%- include('../partials/header.ejs') %>

<h1>Book Details</h1>


<section id="show-page">
    <div>
        <img src="/images/placeholder.png" class="images">
    </div>
    <div>
        <div>Title: </div>
        <div><%= books.title %></div>
        <div>Author: </div>
        <div><%= books.author %></div>
        <div>Category: </div>
        <div><%= books.category %></div>
    </div>
<div id="details-button">
    <a class="button" href="/entries/<%= books._id %>/edit">Edit Book</a>
    <form class="button" action="/entries/<%= books._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Book</button>
    </form>
</div>
    <h1>Book Reviews:</h1>
    <div class="reviews-container">
        <!-- < % reviews.forEach(function(r) { %> -->
        <div class="review-entry">review 1</div>
    </div>



<%- include('../partials/footer.ejs') %>