<%- include('../partials/header.ejs') %>

<h1>Book Details</h1>

<section id="show-page">
    <div>
        <img src="/images/placeholder.png" class="images">
    </div>
    <div>
        <div>Title: </div>
        <div><%= books.title %></div>
        <div>Author: </div>
        <div><%= books.author %></div>
        <div>Category: </div>
        <div><%= books.category %></div>
    </div>
    <h1>Book Reviews:</h1>
    <div class="reviews-container">
        <div class="review-entry">review 1</div>
        <div class="review-entry">review 2</div>
    </div>



<%- include('../partials/footer.ejs') %>