<%- include('../partials/header.ejs') %>

<div class="page-wrapper">
    <h1 class="hero-title">User Profile</h1>
    <div id="profile-wrapper">
        <% users.forEach(function(u){ %>
            <% if (u._id.equals(user && user._id)) { %>
            <img id="main-profile" src="<%= u.avatar %> ">
            <div id="profile-content">
                <h3 id="profile-name"><%= u.name %> </h3>
                <h3 id="profile-email"><%= u.email %> </h3>
                <h3 id="profile-reviews"> Books reviewed: </h3>
            </div>
        <% }; %>
        <% }); %> 
    </div>
<div id="review-header">
    <h2 id="my-reviews">My Reviews:</h2>
    <a class="button" href="/entries/new">Add New Book</a>
</div>


</div>


<%- include('../partials/footer.ejs') %>